spring:
  application:
    name: desafio-picpay
  datasource:
    url: jdbc:postgresql://localhost:5432/desafio-picpay
    username: postgres
    password: paodepovilho2003
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
